.service-name{
	background-color: darkgoldenrod;
    width: auto;
    height: 30px;
    padding-top: 10px;
    font-size: 22px;
}
.service-expant-symbol lable{
    font-size: 30px;
    margin-left: 10px;

}
.service-expant-symbol a{
    font-size: 25px;

}
.red{
	background-color: red;
}
